/*****************************************************
Vizcaya colors
Lightest:deepskyblue #28cefd rgb(40,206,253);
Light: cornflowerblue #56b7fb rgb(86,183,251);
Medium: cadetblue #6a91bc rgb(106,145,188);
Dark: blue #104c92 rgb(16,76,146);

*****************************************************/

html {
	min-height:100%;
}
body {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
	padding: 	0;
	height: 100%;
	width: 100%;
	font-size: 18px;
}

*:focus {
	outline: 0;
	outline: none;
}

/* Annotations
*****************************************************/
div.annotation {
	opacity: 0.80 !important;
}
div.annotation > div{
	background-color: rgb(16,76,146) !important;
	opacity: 1 !important;
}


/* Splash Page
*****************************************************/
video {
	position: fixed;
	top:0;
	left: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	z-index: 9;
}
#video-skip-icon {
	color: white;
	font-size: 1.8em;
}
#skip-button {
	border-radius: 50%;
	border: 2px solid white;
	background: transparent;
	position: relative;
	height: 75px;
	width: 75px;
	z-index: 10;
}
.skip {
	display: flex;
	position: fixed;
	right: 5%;
	bottom: 9%;
	height: 120px;
	width: 120px;
	z-index: 10;
}
.skip-text {
	color: white;
	font-size: 1.2em;
	line-height: 1;
	position: relative;
	top: 80%;
	right: 50%;
}
	#skip-button:focus,
	#skip-button:hover,
	#skip-button:active    {
		background-color: #fff;
		color: rgb(40,206,253) !important;
		border: none;
		outline: none; 
	}


/* Landing 
*****************************************************/
.welcome {
	background-image: url("../assets/img/villa_vizcaya_splash_1.jpg");
	background-position: center;
	background-size:cover;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	color: #fff;
}
.jumbotron {
	width: 100%;
	padding:3%;
	background: transparent !important;
	font-family: 'Lato', sans-serif;
}
.jumbotron h1 {
	font-size: 125px !important;
	margin-bottom: 3%;
}
.jumbotron p {
	width: 50%;
	margin-left: 25%;
	font-size:25px;
	font-weight: 300;
}
.jumbotron p:last-of-type {
	margin-bottom: 5%;
}
.welcome .btn-lg {
	background-color: transparent;
	padding: 10px 20px;
	font-weight: bold;
	border: 0.125em solid #fff;
	margin: 3%;
	text-decoration: none;
	color: #fff;
	padding: 10px 40px;
}
	.welcome .landing-links:focus,
	.welcome .landing-links:hover,
	.welcome .landing-links:active {
		background-color:rgba(20,20,20,0.6);
		color: #fff;
		border-color: #fff;
	}


/* Control Bar
*****************************************************/
#controlbar-container {
	background-color: rgb(106,145,188);
	border-top: 8px solid rgb(16,76,146);
	height: 60px;
}
#fullscreen {
	cursor: pointer;
}
.fa {
	margin-top:25%;
}
.text-center {
	text-align: center;
}
/* 
****Not in use atm****
.logo {
margin: 0;
width: 100px;
text-align: left;
} */
.nav-icon {
	color: #fff;
}
	.nav-icon:focus,
	.nav-icon:hover,
	.nav-icon:active
 {
		color: #28cefd;
		outline: none;
	}
.controlbar-nav {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	background: transparent;
}
.btn-toolbar button {
	background: transparent;
	border: none;
	padding: 0 50px;
}
 .btn-toolbar > button:nth-child(n+7){
	float: right;
} 

.btn-toolbar > button:nth-child(1){
	float: left;
}

/* Hotspot Carousel
*****************************************************/
#hotspot-container {
	width: 100%;
	height: 150px;
	display: none;
}
#hotspotCarousel {
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 60px;
	background-color: rgba(16,76,146,0.6);
	width: 100%;
	height: 150px;
}
.well {
	padding: 0;
	margin: 0;
}
/* .hotspot-slides {
	margin-top: 3px;
} */
.thumbnail {
	padding: 0;
	margin-bottom:0;
	background-color: rgb(16,76,146);
	border: 1px solid rgb(16,76,146);
	text-align: center;
}
	.thumbnail:focus,
	.thumbnail:hover,
	.thumbnail:active
	{
		padding: 0;
		margin-bottom:0;
		background-color: rgb(40,206,253);
		border: 1px solid rgb(40,206,253);
		text-align: center;
		color: white;
	}
.thumbnail img {
	width: 300px;
	height: 110px;
}
.span3 {
	display: inline-block;
	margin: 0 4%;
}
.carousel {
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}
.carousel-control {
	left: -12px;
	width: 5%;
}
.carousel-control.right {
	right: -12px;
}
.carousel-control:hover,
.carousel-control-active {
	color: #28cefd;
	outline: none;
}
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
.active {
	list-style: none;
}

/* Overlays
*****************************************************/
.overlay-content {
  position: relative;
  top: 0;
  clear: left;
  color: white;
}
#help-overlay {
  height: 75%;
  width: 30%;
  display: none;
  position: fixed;
  right: 0;
  top: 3%;
  z-index: 100;
  background-color: rgba(16,76,146, 0.6);
  overflow-y: auto;
}
#help-overlay h2{
	text-align: center;
	color: white;
	font-size: 60px;
}
#help-overlay h3{
	text-align: center;
	font-size: 40px;
}
#help-overlay a {
  padding-left: 5%;
  font-size: 3.5em;
  color: white;
  float: left;
}
	#help-overlay a:focus,
	#help-overlay a:hover,
	#help-overlay a:active {
	color: #28cefd;
	text-decoration: none;
	outline: none;
	}
#help-overlay .closebtn {
  position: absolute;
  top: 0;
  left: 20px;
}
#help-overlay .fa {
	width: 20px;
	height: 20px;
	margin-top: 0;
}
.help-overlay-icons {
	height: 20px;
	width: 20px;
	filter: invert(100%);
}
.help-overlay ul {
	height: 200px;
}
.help-overlay .fa{
	height: 10px;
	width: 10px;
}

#about-overlay {
	display: none;
}

/* High Contrast Theme 
*****************************************************/
 .hiContrast
{
	background: black;
	color: white;
}
.hiContrast a {
	color: yellow;
}
.hiContrast button:focus,
.hiContrast button:hover,
.hiContrast button:active {
	background: blue;
	color: black;
} 



