/* Import Fonts
*****************************************************/
/* Headline */
@font-face {
	font-family: 'Marcellus';
	font-style: normal;
	font-weight: 400;
	src: local('Marcellus Regular'), local('Marcellus-Regular'), url('../fonts/Marcellus/Marcellus-Regular.ttf') format('woff2');
}

/* Body Text */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('OpenSans-Regular'), local('OpenSans-Regular'), url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('woff2');
}