div.kolorAreaContainer
{
	position: relative;
}

div.kolorArea
{
	position: absolute;
	background-color: #f2f2f2;
	background-clip: padding-box;
	z-index: 1;
	cursor: auto;
}

div.kolorAreaHeader
{
	height: 32px;
	margin: 15px 0 5px 15px;
	padding-right: 15px;
	text-align: left;
	z-index: 1;
}

div.kolorAreaTitle
{
	color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	position: relative;
	text-align: left;
}

div.kolorAreaContent
{
	position: relative;
	margin: 15px 0 15px 15px;
	padding-right: 15px;
	overflow: auto;
	z-index: 0;
}
div.kolorAreaContent.loading
{
	background: url(images/sablier.gif) no-repeat center center;
}


/* Overlay */

div.kolorAreaOverlay
{
	position: absolute;
	z-index: 0;
	opacity: 1;
	background-color: #000;
	width: 0px;
	height: 0px;
}

/* Buttons */

a.kolorAreaCloseBtn
{
	background: url(images/btn_close.png) no-repeat;
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	background-position: top;
	right: 15px;
	top: 15px;
}

a.kolorAreaCloseBtn:hover
{
	background-position: bottom;
}

/* Text content */

div.kolorAreaContent ol 
{
	list-style: decimal inside none;
}
div.kolorAreaContent ul 
{
	list-style: disc inside none;
}