pointclouds/*
vat/*
/.vs/slnx.sqlite-journal
/.vs/Kiosk\v15
/.vs/kiosk\v15
.vs/*
.vs/slnx.sqlite
assets/css/vizcaya.css
.vs/slnx.sqlite
.vs/Kiosk/v15/.suo
images/works/Alligator03.gif
es/images/works/Alligator03.gif
es/pages/1916barge.html
es/pages/barge.html
assets/css/vizcaya.css
Pages/1916barge.html
Pages/barge.html
Pages/barge2.html
