div.floorplanContent {
	position: relative;
	overflow: hidden;
	
}

div.floorplanItem {
	z-index: 0;
}

div.floorplanCompass {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}

div.floorplanSpotRadar {
	display: none;
	position: absolute;
	z-index: 2;
}

div.floorplanSpot {
	position: absolute;
	text-align: center;
	z-index: 3;
	pointer-events: none;
}

div.floorplanSpot p {
	margin: 0;
}

div.floorplanSpot img {
	cursor: pointer;
	pointer-events: auto;
}

p.floorplanSpotLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: black 0.1em 0.1em 0.2em;
	pointer-events: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@-webkit-keyframes bounce {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@-moz-keyframes bounce {
	from {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@-o-keyframes bounce {
	from {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@-ms-keyframes bounce {
	from {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@keyframes bounce {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10px);
	}
}


@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(1.0,1.0);
		transform: scale(1.0,1.0);
	}
	to {
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
}
@-moz-keyframes pulsate {
	from {
		-moz-transform: scale(1.0,1.0);
		transform: scale(1.0,1.0);
	}
	to {
		-moz-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
}
@-o-keyframes pulsate {
	from {
		-o-transform: scale(1.0,1.0);
		transform: scale(1.0,1.0);
	}
	to {
		-o-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
}
@-ms-keyframes pulsate {
	from {
		-ms-transform: scale(1.0,1.0);
		transform: scale(1.0,1.0);
	}
	to {
		-ms-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
}
@keyframes pulsate {
	from {
		transform: scale(1.0,1.0);
	}
	to {
		transform: scale(1.2,1.2);
	}
}
